
body {
    background-color: pink;
    text-align: center;
}

.pres_nelson {
    width: 100px;
}
h3 {
    color: white;
    text-align: center
    ;
}

/* ul {
    text-align: center;
    margin-left: 70%;
} */
